<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.hero.mapper.UserMapper">

    <sql id="USER_LIST">
      id, username, password, avatar
    </sql>

    <resultMap type="com.spring.hero.pojo.User" id="userMap">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
    </resultMap>

    <select id="findByName" resultType="com.spring.hero.pojo.User">
      SELECT
        <include refid="USER_LIST"/>
      FROM core.users
      WHERE username = #{username};
    </select>

    <select id="findAll" resultMap="userMap">
        SELECT
        <include refid="USER_LIST"/>
        FROM core.users
    </select>
</mapper>